{% extends "service/layout.html" %}
{% load static %}
{% block title %}Home - Task Forge{% endblock %}

{% block add_css %}
    <link rel="stylesheet" href="{% static 'service/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="home-container">

    <div class="hero-text">
        <h1>Organize your work<br> 
            in the <span class="highlight">right way</span>
        </h1>
    </div>


    <div class="logo-container">
        <img src="{% static 'service/images/logo.jpg' %}" alt="Task Forge Logo" class="pulsating-logo">
    </div>


    <div class="developer-cards">
        <div class="card">
            <img src="{% static 'service/images/Developer.jpg' %}" alt="Developer 1" class="profile-pic">
            <div class="card-info">
                <h3>Anton Bliznuk</h3>
                <p>Full-stack Developer</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'service/images/Designer.jpg' %}" alt="Develop" class="profile-pic">
            <div class="card-info">
                <h3>Sofiya Gliztesova</h3>
                <p>Designer</p>
            </div>
        </div>
    </div>

    <div class="github-link">
        <a href="https://github.com/AntonBliznuk/TaskForge" target="_blank">
            View on GitHub
        </a>
    </div>
</div>
{% endblock %}