{% extends 'service/layout.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block add_css %}
<link rel="stylesheet" href="{% static 'service/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="profile-container">
    <!-- User Photo -->
    <div class="profile-picture">
        <img src="http://res.cloudinary.com/djf6zsiw8/{{ user.profile_picture }}" alt="User photo">
        {% if is_owner %}
        <form action="{% url 'changephoto' %}" method="POST" enctype="multipart/form-data" class="profile-picture-form">
            {% csrf_token %}
            <input type="hidden" name="user.id" value="{{ request.session.id }}">
            
            <label for="profile_picture" class="upload-label">Change Photo</label>
            <input type="file" name="profile_picture" id="profile_picture" class="upload-input">
            <button type="submit" class="upload-button">Upload</button>
        </form>
        {% endif %}
    </div>

    <!-- User Name and Stats -->
    <div class="profile-info">
        <h1>{{ user.username }}</h1>
        <div class="profile-stats">
            <div class="profile-stat">
                <span class="stat-number">{{ groups_count }}</span>
                <span class="stat-label">Groups</span>
            </div>
            <div class="profile-stat">
                <span class="stat-number">{{ completed_tasks_percentage }}%</span>
                <span class="stat-label">Completed Tasks</span>
            </div>
            <div class="profile-stat">
                <span class="stat-number">{{ date_joined}}</span>
                <span class="stat-label">Registration Date</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}